.clients{
  position: relative;
  margin-bottom: 5rem;

  &--b-margin-less{
    margin-bottom: 1rem;

    @mixin atMedium{
      margin-bottom: 5rem;
    }
  }

  &--d-flex{
    display: flex;
  }

  &--flex-wrap{
    flex-wrap: wrap;
  }

  &--flex-order-1{
    order: 1;
  }

  &--flex-order-2{
    order: 2;
  }

  &--left-padding{

    @mixin atMedium{
      padding-left: 16.6875rem;
    }
  }

  &--right-padding{

    @mixin atMedium{
      padding-right: 16.6875rem;
    }
  }

  &__image{
    top: 0;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium{
      position: absolute;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__image--position-left{
    left: 0;
  }

  &__image--position-right{
    right: 0;
  }

  &__comment{
    position: relative;
    top: 24px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    padding: 19px 53px 17px 78px;

    &:first-child{
      @mixin atMedium{
        &:after, &:before{
          content: "";
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #fff;
          position: absolute;
        }

        &:after{
          right: -15px;
          top: 39%;
        }

        &:before{
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-left: 17px solid #e8e8e8;
          right: -17px;
          top: 37.6%;
        }
      }
    }

    &:last-child{
      @mixin atMedium{
        &:after, &:before{
          content: "";
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #fff;
          position: absolute;
        }

        &:after{
          left: -15px;
          top: 39%;
        }

        &:before{
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-right: 17px solid #e8e8e8;
          left: -17px;
          top: 37.6%;
        }
      }
    }

    p{
      font-size: 1.425rem;
      font-weight: 300;
      max-width: 35.125rem;
      margin-bottom: .4em;
    }

    .author, .company, .clients__info{
      color: $mainBlue;
      font-size: 1.125rem;
      font-style: normal;
      margin-top: 0;
      font-weight: 300;
    }
  }
}
