.large-hero{
  position: relative;

  &__text-content{
    padding-top: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }

  &__subtitle{
    font-size: 1.5rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;

    @mixin atSmall{
      font-size: 2rem;
    }
  }

  &__title{
    font-size: 2.125rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    @mixin atSmall{
      font-size: 4.125rem;
    }
  }
}
