.page-section{
  overflow: hidden;
  padding: 2rem 0;

  @mixin atMedium{
    padding: 6.25rem 0;
  }

  &--gray{
    background-color: #fafafa;
  }

  &--no-p-bottom-until-medium{
    padding-bottom: 0;

    @mixin atMedium{
      padding-bottom: 6.25rem;
    }
  }

  &--black{
    background-color: rgba($mainBlack, 1);
    color: #fff;
  }

  &--violet{
    background-color: $mainViolet;
    color: #fff;
  }
}
