.primary-nav{
  @mixin clearfix;
  padding-top: 12px;
  text-align: center;
  transition: all .3s ease-out;

  @mixin atLarge{
    padding-top: 0;
  }

  .site-header--dark &{
    height: 0px;

    @mixin atLarge{
      height: auto;
    }
  }

  .site-header__menu-content--is-visible &{
    height: 60px;

    @mixin atSmall{
      height: 50px;
    }

    @mixin atLarge{
      height: auto;
    }
  }

  &--pull-right{
    float: right;
    display: block;
    width: 100%;

    @mixin atLarge{
      width: auto;
      float: right;
    }
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li{
    float: left;
    padding-right: 20px;
    list-style: none;
  }

  li:last-child{
    padding-right: 0;
  }

  a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;

    @mixin atLarge{
      padding: 12px 0;
    }

    &::after{
      content: "";
      height: 2px;
      width: 100%;
      background-color: #fff;
      color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .5s ease-out;
      transform: scaleX(0);
      transform-origin: 0 100%;
    }

    &:hover, &.is-current-link{
      &::after{
        content: "";
        height: 2px;
        width: 100%;
        background-color: #fff;
        color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(1);
      }
    }
  }
}
