.reveal-item{
  &--is-hidden{
    opacity: 0;
    transition: all .5s ease-out;
    transform: translateY(150px) scale(1.1);
  }

  &--is-revealed{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
