.row{
  @mixin clearfix;

  &--gutters-small{
    margin-right: -52px;
  }

  &--gutters-small > div{
    padding-right: 52px;
  }

  &--gutters{
    margin-right: -112px;
  }

  &--gutters > div{
    padding-right: 112px;
  }

  @mixin atMedium{
    &__medium-4{
      float: left;
      width: 33.33%;
    }

    &__medium-6{
      float: left;
      width: 50%;
    }

    &__medium-8{
      float: left;
      width: 66.66%;
    }
  }
}
