.row{
  @mixin clearfix;

  &--gutters-small{
    margin-right: -52px;
  }

  &--gutters-small > div{
    padding-right: 52px;
  }

  &--gutters{
    margin-right: -112px;
  }

  &--gutters > div{
    padding-right: 112px;
  }

  &--b-margin{
    margin-bottom: 3rem;
  }

  &__small-6{
    float: left;
    width: 50%;
  }

  @mixin atMedium{
    &__medium-3{
      float: left;
      width: 25%%;
    }

    &__medium-4{
      float: left;
      width: 33.33%;
    }

    &__medium-6{
      float: left;
      width: 50%;
    }

    &__medium-8{
      float: left;
      width: 66.66%;
    }
  }
}
