.section-title{
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;

  &--no-margin{
    margin: 0;
  }

  &__subtitle{
    font-size: 1.375rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  &__subtitle--no-t-margin{
    margin-top: 0;
  }
}
