.section-title{
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;

  &--no-margin{
    margin: 0;
  }

  &__subtitle{
    font-size: 1.375rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  &__subtitle--no-b-margin{
    margin-bottom: .7em;
  }

  &__subtitle--darker-white{
    color: $darkerWhite;
  }

  &__subtitle--no-t-margin{
    margin-top: 0;
  }

  &--left-align-on-medium{
    text-align: center;

    @mixin atMedium{
      text-align: left;
    }
  }

  &--left-align{
    text-align: left;
  }

  &--less-margin{
    margin-top: 0;
    margin-bottom: .2em;
  }
}
