.service-item{

  &__title{
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 300;

    @mixin atSmall{
      font-size: 3.75rem;
    }
  }

  strong{
    font-weight: 700;
  }

  &__image--centered{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__image--b-margin-until-medium{
    margin-bottom: 1rem;

    @mixin atMedium{
      margin-bottom: 0;
    }
  }

  &--bg-gray{
    background-color: #fafafa;
  }

  &--padding-top{
    padding-top: 2rem;

    @mixin atMedium{
      padding-top: 100px;
    }
  }

  &--padding-bottom{
    padding-bottom: 2rem;

    @mixin atMedium{
      padding-bottom: 100px;
    }
  }

  &--padding{
    padding: 2rem 0;

    @mixin atMedium{
      padding: 100px 0;
    }
  }

  &__feature{
    position: relative;

    @mixin atMedium{
      padding-left: 90px;
    }
  }

  &__icon{
    background-color: #000;
    display: block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @mixin atMedium{
      display: inline-block;
      position: absolute;
      left: 0;
    }
  }

  /* Replace this with .icon once svg sprite is created */
  &__icon-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__feature__title{
    font-weight: 400;
    text-align: center;
    
    @mixin atMedium{
      text-align: left;
    }
  }
}
