.site-header{
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #fff;
  padding: 20px 0;
  background-color: transparent;
  transition: all .3s ease-out;

  &--is-expanded{
    background-color: $violetBg;

    @mixin atLarge{
      background-color: transparent;
    }
  }

  @mixin atLarge{
    padding: 40px 0;
  }

  &--dark{
    background-color: rgba($violetBg, .9);
    padding: 5px 0;
  }


  &__logo {
    @mixin clearfix;
    float: left;
    margin: 0;
    text-transform: uppercase;
  }

  &__icon{
    position: relative;
    top: 8px;
  }

  &__menu-btn{
    position: absolute;
    top: 25px;
    right: 19px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 8px;
    border-radius: 3px;
    transition: all .3s ease-out;

    @mixin atLarge{
      display: none;
    }

    .site-header--dark &{
      top: 12px;
    }
  }

  &__menu-icon{
    height: 18px;
    width: 20px;
    position: relative;

    @mixin atLarge{
      display: none;
    }

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #fff;
    }

    &--middle{
      position: relative;
      width: 100%;
      height: 2px;
      top: 8px;
      left: 0;
      background-color: #fff;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
    }
  }

  &__menu-content{
    opacity: 0;
    position: relative;
    z-index: -10;
    transition: all .3s ease-out;
    transform: scale(1.1);

    @mixin atLarge{
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }

    &--is-visible{
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
  }

}
