.team-item{
  text-align: center;
  margin-bottom: 40px;

  @mixin atMedium{
    margin-bottom: 0;
  }

  &--last{
    margin-bottom: 0;
  }

  &__image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    margin: 0 auto;
  }

  &__title{
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: .25em;
  }

  &__subtitle{
    font-weight: 300;
    margin: 0 0 10px 0;
  }

  &__list{
    display: inline-block;

    ul{
      margin: 0;
      padding: 0;
    }

    li{
      list-style: none;
      float: left;
      height: 40px;
      width: 40px;
      border: 3px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      margin: 0 5px;
    }

    .team-item__icon{
      position: absolute;
      left: 50%;
      top: 50%;
    }

    .icon {
       display: block;
       transform: translate(-50%, -50%) scale(.27);
    }
  }

  &__footer{
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    max-width: 43rem;
  }
}
